Source: ros-kinetic-thormang3-sensors
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-laser-assembler, ros-kinetic-pcl-ros, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: http://wiki.ros.org/thormang3_ppc
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-laser-assembler, ros-kinetic-pcl-ros, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Description: This package contains sensor related launch files.
 The package also includes a node for assembling Laserscan(LaserScan to PointCloud)
