Source: ros-kinetic-thormang3-walking-demo
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), libyaml-cpp-dev, ros-kinetic-catkin, ros-kinetic-robotis-controller-msgs, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-std-msgs, ros-kinetic-thormang3-walking-module-msgs
Homepage: http://wiki.ros.org/thormang3_walking_demo
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-walking-demo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-cpp-dev, ros-kinetic-robotis-controller-msgs, ros-kinetic-roscpp, ros-kinetic-roslib, ros-kinetic-std-msgs, ros-kinetic-thormang3-walking-module-msgs
Description: The thormang3_walking_demo package This package describes how to use thormang3_walking_module.
