Source: ros-kinetic-thormang3-ppc
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/thormang3_ppc
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-ppc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-thormang3-manipulation-demo, ros-kinetic-thormang3-sensors, ros-kinetic-thormang3-walking-demo
Description: ROS packages for the thormang3_ppc (meta package)
